[submodule "os"]
	path = os
	url = https://e.coding.net/axk/c-hi-obj/bouffalo_sdk.git
[submodule "toolchain"]
	path = toolchain
	url = https://gitee.com/bouffalolab/toolchain_gcc_t-head_linux.git
[submodule "software/HomeAssistant-lib"]
	path = software/HomeAssistant-lib
	url = https://gitee.com/Ai-Thinker-Open/Ai-M6x_HomeAssistant-C.git

